<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>app5</title>
    <!-- 因为配置了静态服务目录，会自动去public目录下获取app5.css -->
    <link rel="stylesheet" href="app5.css">
</head>
<body>
<!-- 因为配置了虚拟的静态服务目录static，会从public目录去拿 -->
<img src="static/loading.gif" alt="">
<!-- 配置了多个中间件，会从files目录去拿 -->
<a href="loading.zip">loading.zip</a>
</body>
</html>