<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{csrfToken}}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>csrf</title>
</head>
<body>
<form action="/process" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    Favorite color: <input type="text" name="favoriteColor" placeholder="">
    <button type="submit">Submit</button>
</form>
</body>
</html>
