<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h2>登陆</h2>
<form action="/dologin" method="post">
    <!-- name属性必须的 -->
    <input type="text" name="username" placeholder="">
    <input type="password" name="password" placeholder="">
    <button type="submit">提交</button>
</form>
</body>
</html>